.rangeslider.rangeslider-horizontal.actual-slider {
  width: 100%;
}
.myslider {
  width: 70%;
  float:left;
}
.myslider .slider-title {
  font-size: 20px;
}
.myslider .slider-right-side {
  float:right;
}